/* Reset */
* {
   padding: 0px !important; 

}

html {
  font-family: "Inter", sans-serif !important;
}
 /* .page-shadow {
      position: absolute;
      width: 979px;
      height: 979px;
      top: -324px;
      left: -221px;
      background:#8EADD53D;
      filter: blur(200px);
      border-radius: 50%;
      z-index: -1;
      pointer-events: none;
    } */
.btn-custom {
  width: 167px;
  height: 48px;
  border-radius: 8px;
 background-color: #8EADD5;
}
/* Custom spacing */
.pt-8 {
  padding-top: 97px !important;
}

.mt-md-120 {
  margin-top: 120px !important;
}
/* Responsive adjustments */
@media (min-width: 992px) {
  .px-lg-11 {
    padding-left: 182px !important;
    padding-right: 182px !important;
  }

  .fs-lg-64 {
    font-size: 64px !important;
  }

  .pe-lg-75 {
    padding-right: 75px !important;
  }

  .pe-lg-90 {
    padding-right: 90px !important;
  }

  .mt-lg-157 {
  margin-top: 157px !important;
}
}

