html {
  font-family: "Inter", sans-serif !important;
}
.btn-custom {
  width: 167px;
  height: 48px;
  border-radius: 8px;
  background-color: #8eadd5;
}
.bg-light-color {
  background-color: #f6f6f6 !important;
}
.bg-aurometalsaurus-color {
  color: #667085 !important;
}
.rounded-20 {
  border-radius: 20px !important;
}

/* Custom spacing */
.pt-8 {
  padding-top: 97px !important;
}
.mt-lg-136 {
  margin-top: 1369x;
}
.mt-md-120 {
  margin-top: 120px !important;
}
.pt-lg-105 {
  padding-top: 105px !important;
}
.mt-md-88 {
  margin-top: 88px !important;
}
.mt-136 {
  margin-top: 136px !important;
}
.pt-md-56{
  padding-top: 56px;
}
/* Responsive adjustments */
@media (min-width: 992px) {
  .p-lg-127 {
    padding-left: 127px !important;
    padding-right: 127px !important;
  }

  .fs-lg-64 {
    font-size: 64px !important;
  }
  .fs-lg-48 {
    font-size: 48px !important;
  }

  .pe-lg-75 {
    padding-right: 75px !important;
  }

  .pe-lg-90 {
    padding-right: 90px !important;
  }

  .mt-lg-157 {
    margin-top: 157px !important;
  }

  .mt-lg-75 {
    margin-left: 75px !important;
    margin-right: 75px !important;
  }

  .ms-lg-179 {
    margin-left: 179px !important;
  }

  .pb-lg-38 {
    padding-bottom: 38px !important;
  }
  /* .pt-38{
padding-top: 38px;
 }
 .mt-40 {
  margin-top: 40px;
 } */


 .px-lg-315 {
  padding-left: 315px !important;
  padding-right: 315px !important;
}
}



@media (max-width: 922px) {
  .logo {
    width: 70px !important;
    height: 24px !important;
    object-fit: contain !important; /* يحافظ على شكل اللوجو */
  }
}

/* .carousel-indicators [data-bs-target] {
  background-color: #333;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #007bff
} */


